<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 定义一个Bean对象
		id:Bean对象的唯一标识符;
		class:全类名;
	 -->
	<bean id="hello" class="cn.com.zjf.model.Hello">
		<!-- 配置Bean对象的属性 -->
		<property name="message" value="Hello World!!"></property>
	</bean>
</beans>
